@font-face {
    font-family: odinFont;
    src: url("media/font/Norse-Bold.otf");
}


*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: space-between;
}

.logo-display .background-image{
    background-image: url("media/img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 200%;
}

.odin-use{
    font-family: odinFont;
}